@import "node_modules/bootstrap/scss/bootstrap"

$base-color: #c33071
$mobile: 550px

html, body
    height: 100%
    margin: 0

body
    font-size: 16px
    color: #333
    margin: 0
    font-family: 'Montserrat', sans-serif

    @media (max-width: $mobile)
        font-size: 14px

    a, a:hover
        color: $base-color

.btn-dawn
    background: $base-color
    color: white

.btn-dawn:hover
    color: white
    background: darken($base-color, 10)

.btn-dawn-outline
    color: $base-color
    border: 1px solid $base-color

.btn-dawn-outline:hover
    background: $base-color
    color: white

// Less chonky tables
table.table
    td, th
        padding: 0.4rem

.Logo
    width: 32px
    height: 32px
    margin-right: 0.3rem

.SiteFooter
    margin-top: 3rem
    background-image: url("../public/dawnguide-concept-footer.svg")
    background-repeat: no-repeat
    background-size: 100% auto
    width: 100%
    height: 0
    padding-top: 30%

    @media (max-width: $mobile)
        padding-top: 60%

.ConceptPage
    padding-top: 2rem

    h1
        margin-bottom: 0.5em

    section
        margin-top: 2rem

    h2
        padding-bottom: 0.25em
        margin-bottom: 0.5em
        border-bottom: 1px solid #d5d5d5

    table td
        max-width: 300px